@import url('css/variables.css');
@import url('css/base.css');
@import url('css/loader.css');
@import url('css/utils.css');
@import url('css/nav.css');
@import url('css/hero.css');
@import url('css/tech-strip.css');
@import url('css/showcase.css');
@import url('css/sections-common.css');
@import url('css/projects.css');
@import url('css/about.css');
@import url('css/services.css');
@import url('css/approach.css');
@import url('css/faq.css');
@import url('css/contact-footer.css');
@import url('css/responsive.css');
